.container {
    width: 600px;
    margin: 0 auto;
}

#chat {
    width : 500px;
    height: 300px;
    margin: 0 0 20px 0;
    border: solid 1px #000;
    overflow-y: scroll;
}

#name{
    width: 350px;
}

#msg {
    width: 350px;
}
